<div class="contact">
    <div class="contact__title">
        Contato
    </div>
    <div class="contact__content">
        <span class="content__label">E-mail</span>
        <span class="content__description">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> andreelorenz@gmail.com</span>
    </div>
    <div class="contact__content">
        <span class="content__label">Celular/Whatsapp</span>
        <span class="content__description">
            <i class="fa fa-whatsapp" aria-hidden="true"></i> (47) 99150-7555</span>
    </div>
    <div class="contact__content">
        <span class="content__label">Github</span>
        <a class="content__description link" target="blank" ng-href="https://github.com/AndreLorenz">
            <i class="fa fa-github" aria-hidden="true"></i> https://github.com/AndreLorenz</a>
    </div>
    <div class="contact__content">
        <span class="content__label">Linkedin</span>
        <a class="content__description link" target="blank" ng-href="https://linkedin.com/in/andreelorenz">
            <i class="fa fa-linkedin" aria-hidden="true"></i> https://linkedin.com/in/andreelorenz</a>
    </div>
    <div class="contact__content">
        <span class="content__label">Instagram</span>
        <a class="content__description link" target="blank" ng-href="https://instagram.com/andreelorenz">
            <i class="fa fa-instagram" aria-hidden="true"></i> https://instagram.com/andreelorenz</a>
    </div>
    
    

</div>