@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body{
  font-family: 'Quicksand', sans-serif;
  background-color: #EEEEEE;
}
.test-font{
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}
.test-font2{
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}